.node {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.children-container {
	display: flex;
}

.org-card__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.org-card__container.showChildren:after,
.org-card__container.children:before {
	content: '';
	height: 0.5rem;
	width: 1px;
	background-color: #888888;
}

.org-card {
	width: 12rem;
	height: 16rem;
	margin: 0 1rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 12px 4px #11111108;
	padding: 1rem;
	border: 1px solid #dddddd;
	user-select: none;
	position: relative;
}

.org-card.hasChild {
	cursor: pointer;
}

.org-card.hasChild .org-card__showChildren {
	opacity: 1;
	transition: all 0.1s ease;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.org-card__container.showChildren .org-card.hasChild > .org-card__showChildren,
.org-card:not(.hasChild) .org-card__showChildren {
	opacity: 0;
}

.org-card__picture {
	border-radius: 50%;
	height: 6rem;
	margin-bottom: 1rem;
}

.org-card__name,
.org-card__title {
	text-align: center;
	margin-bottom: 0.5rem;
}

.org-card__name {
	font-size: 1rem;
	font-weight: 500;
}

.org-card__title {
	font-size: 12px;
}
