.row {
	margin: 0 #{-$gutter};
	display: flex;
	flex-wrap: wrap;

	[class^='col'] {
		position: relative;
		padding: 0 $gutter;
	}
}

@include grid('');

@include breakpoint(min, xl) {
	@include grid(xl);
}

@include breakpoint(min, lg) {
	@include grid(lg);
}

@include breakpoint(min, md) {
	@include grid(md);
}

@include breakpoint(min, sm) {
	@include grid(sm);
}
